.container{
  flex: 1;
  flex-direction: column;
}


.active{
  color: #ffffff;
  background-color: #6495ed;
}



.item-span {
  flex: 1;
  width: 100%;
}

.item-menu {
  height: 65px;
  line-height: 65px;
  width: 100%;

}

.item-menu text {
  width: 100%;
  text-align: center;
}

.item1 {
  width: 20%;

}

.item2 {
  padding: 10px;
  width: 80%;
}

.class-list {
  background-color: #eeeeee;
}

.page-title-wrap {
  padding-top: 50px;
  padding-bottom: 80px;
  justify-content: center;
}
.page-title{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  border-color: #bbbbbb;
  color: #bbbbbb;
  border-bottom-width: 2px;
}

.btn {
  height: 80px;
  text-align: center;
  border-radius: 5px;
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 50px;
  color: #ffffff;
  font-size: 30px;
  background-color: #0faeff;
}

/* 首页样式 */
.page-doc {
  flex: 1;
  flex-direction: column;
  background-color: #eeeeee;
}

.text {
  flex: 1;
  text-align: center;
  margin-bottom: 10px;
  background-color: #ffffff;
  font-size: 40px;
}
.cell-box {
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}


.footer-container {
  height: 120px;
  border-top-width: 1px;
  border-color: #bbbbbb;
  background-color: #ffffff;
}

.group-container {
  flex: 1;
  flex-direction: column;
}

.group-content {
  flex-direction: column;
  flex: 1;
}
.footer-container-div{
  flex-direction: column;align-items: center;justify-content: center;
}

.tab-text {
  font-size: 16px;
  text-align: center;
}

.tab-text:active {
  color: #007DFF;
}

.show {
  display: flex;
}

.show-txt {
  color: #cccccc;
}



.swiper {
  height: 300px;
}

.swiper image {
  resize-mode: stretch
}



.line_flag {
  width: 5px;
  height: 15px;
  background-color: #f9f027;
  margin-right: 10px;
}

.box {
  flex-wrap: wrap;
  padding: 0 10px;
  justify-content: space-between
}

.theme_item,
.glob_item {
  width: 49%;
  align-items: center;
  margin: 10px 0;
  flex-direction: column;
}

.box image {
  height: 300px;
}

.box .title {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-top: 10px;
}

/* 关于我们页面 */

.my-header{
  background-color: #0faeff;
  height: 260px;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* flex-direction: column; */
  /* text-align: center; */
}
.my-header .image{
  width: 150px;
  height: 150px;
  border-radius: 300px;
  justify-content: center;
}
.my-header text{
  flex: 1;
}
/* 查看全部订单 */
.show-orders {
  width: 100%;
  background-color: #ffffff;
  border-bottom-color: #dfdfdf;
  border-bottom-width: 2px;
}
/* nav */
.nav {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav .nav-content {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.nav .nav-content image {
  height: 75px;
}